<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()">
    <div class="centered-container">
      <img src="assets/img_login.png" alt="Login Image" class="login-image">
    </div>
    <ion-item>
      <ion-label position="floating">Correo institucional</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" [type]="passwordType"></ion-input>
      <ion-icon 
        slot="end" 
        [name]="passwordType === 'password' ? 'eye-off' : 'eye'" 
        (click)="togglePasswordVisibility()">
      </ion-icon>
    </ion-item>
    <ion-button type="submit" expand="full">Iniciar Sesión</ion-button>
  </form>
  <div class="reset-password-container">
    <ion-button fill="clear" (click)="resetPassword()">Restablecer la contraseña</ion-button>
    <a [routerLink]="['/registro']" class="create-account-link">Registrarse</a>
  </div>
</ion-content>
