<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()">
    <div class="centered-container">
      <img src="assets/img_login.png" alt="Login Image" class="login-image">
    </div>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="username" name="username" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full">Iniciar Sesión</ion-button>
  </form>
</ion-content>
