ion-header {
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
}

ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9; /* Fondo claro */
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar {
  --size: 100px;
  margin-bottom: 10px;
  background-color: #e0e0e0; /* Color de fondo para espacio reservado */
  border-radius: 50%;
}

.username {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
}

.menu-container {
  width: 100%;
  max-width: 400px;
}

ion-item {
  --border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

ion-item:hover {
  transform: scale(1.02);
}

ion-item[color="light"] {
  --background: #ffffff;
  --color: #333;
}

ion-item[color="medium"] {
  --background: #007bff;
  --color: white;
}

ion-item[color="danger"] {
  --background: #f44336;
  --color: white;
}

h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
